* {
    margin: 0;
    padding: 0;
}

body {

    margin: 0;
    font-family: "lora", serif;
    font-weight: 300;
}


/* General style */
.container {

    width: 90%;
    max-width: 900px;
    margin: 0 auto;
       
}


.container-nav {

    display: flex;
    justify-content: space-between;
}



header {

    text-align: center;
    padding: 2em 0;
    background-color: #F8F8F8;
}

footer {
    background-color: #143774;
    padding: 2em 0;
    text-align: center;
    color: #fff;
}

/* ===================
Navigation ========*/

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

nav li {

    margin: 0 1em;
    
}

nav a {

    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #717171;
    text-decoration: none;
}

nav a:hover,
nav a:focus {

    color: #143774;
}


/* ===================
Typography ========*/


h1, h2 {

    font-family: "lora", serif;
    font-weight: 400;
    color: #143774;
}


h5 {

    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}


h6 {

    font-family: "Ubuntu", sans-serif;
    font-weight: 100;
    margin-top: .8em;
    font-size: 1rem;
}


.subtitle {

    color: #1792D2;
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    
}


.current-page {

    border-bottom: #717171 solid 2px;
    
}











/* ===================
Media ========*/

@media (max-width: 767px) {

    .container-nav {

        flex-direction: column;
    }
    
    nav ul {

        flex-direction: column;
        justify-content: unset;
        
    }

    nav li {

        margin: .5em 0;
    }


    .subtitle {
        margin-bottom: .9em;
    }
}
